<form [formGroup]="loginForm" class="form-login" (ngSubmit)="loginSubmit()">
  <h2>Nice to see you again</h2>
  <app-input
    label="Login"
    type="text"
    placeholder="Enter email"
    id="email"
  ></app-input>
  <app-input
    label="Password"
    type="password"
    placeholder="Enter password"
    id="password"
  ></app-input>
  <div class="check">
    <div>
      <input type="checkbox" class="apple-switch" />
      <label>Remember me</label>
    </div>
    <a routerLink="/login/forgot-password">Forgot password</a>
  </div>
  <app-button type="submit" className="btn-primary">Sign in</app-button>
  <app-button type="button" className="btn-secondary">
    <span>Or sign in with Google</span>
  </app-button>
  <div class="no-account">
    <p>
      Don't have an account?
      <a routerLink="/login/register">Sign up now</a>
    </p>
  </div>
  <!--
    error message
  -->
</form>
