@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login-input {
    background-color: #f2f2f2;
    border: none;
    width: 360px;
    height: 48px;
    border-radius: 6px;
    margin-bottom: 10px;
}

label {
  color: white;
  margin: 5px;
}
